body {
    transition: background-color 1s;
}

#color-display {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 100px auto;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 4rem;
    border-radius: .5rem;
}

#color-display h1 {
    font-weight: 900;
}

#color-button {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#color-button:hover {
    background-color: #333;
}